.cursor {

  position:fixed;

  top:0;
  left:0;

  width:18px;
  height:18px;

  border-radius:50%;

  background:white;

  mix-blend-mode:difference;

  pointer-events:none;

  z-index:999999;

  will-change:
    transform,
    width,
    height;

  transform-origin:center;

}